<footer>
    <img class="footer-img" src="assets/logo.svg" alt="logo" loading="lazy">
    <div class="footer-container">
        <div class="footer-contact">
            <p><img class="icon-phone" src="assets/icon-phone.svg" alt="icon-phone" loading="lazy">Phone: +1-543-123-4567</p>
            <p><img class="icon-email" src="assets/icon-email.svg" alt="icon-email" loading="lazy">example&#64;fylo.com</p>
        </div>
        <div class="about">
            <p>About Us</p>
            <p>Jobs</p>
            <p>Press</p>
            <p>Blog</p>
        </div>
        <div class="contact">
            <p>Contact Us</p>
            <p>Terms</p>
            <p>Privacy</p>
        </div>
        <div class="footer-icons">

        </div>
    </div>
</footer>